

/* Login and Sign up */
#loginVBox {
    -fx-alignment:center;
    -fx-background-color:#54BCBD;
    -fx-max-width: 300; 
    -fx-min-height:350;
    -fx-background-radius: 10;
}

#signUpVBox {
    -fx-alignment:center;
    -fx-background-color:#54BCBD;
    -fx-max-width: 300; 
    -fx-min-height:400;
    -fx-background-radius: 10;
}

.loginSignUpTitle {
    -fx-font-size:30;
    -fx-padding: 10 0 20 0 ; 
}

.loginSignUpTextField {
    -fx-max-width: 200; 
    -fx-max-height: 30; 
}

.signInSignUpButton {
    -fx-padding: 10 60;
    -fx-border-insets: 10px;
    -fx-background-insets: 10px;
}



/* Home Screen */
.hbox-container {
    -fx-spacing: 200; 
    -fx-alignment:CENTER-LEFT;
}
.homeBrandLabel {
    -fx-alignment: BASELINE_LEFT;
    -fx-font-size: 20;
}
.homeCenterTitle {
    -fx-alignment:center;
    -fx-font-size: 20;
}
.homeRightUser {
    -fx-alignment: BASELINE_RIGHT; 
    -fx-font-size: 20;
}

